<html> 
<head> 
	<title>Process Input</title> 
</head> 
<body> 
	<form action = "/find" method = "post"> 
        <table>
            <tr>
                <td><label for="invoice">Input File </label></td>
                <td><input type="text" name="invoice" /> </td>
            </tr>
            <tr>
                <td><label for="seal"> Template File </label> </td>
                <td><input type="text" name="seal" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type = "submit" value="Submit"> 
                </td>
            </tr>
        </table>
				
	</form> 
</body> 
</html>
